x-common-variables: &common-variables
  - "PUSH_NOTIFICATIONS_API_URL=http://gorush:8088"
  - "SQLALCHEMY_DATABASE_URI=mysql+pymysql://pushable:123456@db/pushable"
  - "REDIS_CONN=redis://redis"
  - "SMARTGAS_API_URL=https://sociosmart.ddns.net"

services:
  redis:
    image: redis:7-alpine

  db:
    image: mariadb
    volumes:
      - "mariadb:/var/lib/mysql"
    environment:
      - MARIADB_DATABASE=pushable
      - MARIADB_USER=pushable
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
      - MARIADB_PASSWORD=123456
    # env_file:
    #   - ".env.db"
    # healthcheck:
    #   test: "mariadb --user=$$MARIADB_USER --password=$$MARIADB_PASSWORD --execute=\"SHOW DATABASES;\""
    #   interval: 2s
    #   timeout: 20s
    #   retries: 10
  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8083:80
    environment:
      - PMA_HOST=db
      - MARIADB_DATABASE=pushable
      - MARIADB_USER=pushable
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
      - MARIADB_PASSWORD=123456
    # env_file:
    #   - .env.db
    # depends_on:
    #   db:
    #     condition: service_healthy

  api:
    build: ./api
    command: "waitress-serve  --port 8000 --call 'main:create_app'"
    ports:
      - 8009:8000
    volumes:
      - "./api:/usr/src/api"
    environment: *common-variables
    depends_on:
      - gorush
        # condition: service_healthy
      - db
      - redis

  # worker:
  #   build: ./api
  #   command: "celery -A make_celery worker --loglevel INFO"
  #   volumes:
  #     - "./api:/usr/src/api"
  #   environment: *common-variables
  #   depends_on:
  #     - gorush
  #       # condition: service_healthy
  #     - db
  #     - redis
  #
  # beat:
  #   build: ./api
  #   command: "celery -A make_celery beat --loglevel INFO"
  #   volumes:
  #     - "./api:/usr/src/api"
  #   environment: *common-variables
  #   depends_on:
  #     - gorush
  #       # condition: service_healthy
  #     - db
  #     - redis
  # healthcheck:
  #   test: "curl -f http://localhost:8000/healthz"
  #   interval: 5s
  #   timeout: 2s
  #   retries: 10
  #   start_period: 1s
  #
  gorush:
    image: appleboy/gorush
    volumes:
      - ./config.yml:/home/gorush/config.yml

volumes:
  mariadb:
